﻿.comment
{
    border:solid medium black;
    margin:5px;
    padding:2%;
}

.radioButtonCreate
{
    display:block;
}

    .radioButtonCreate input
    {
        display:inline;
        margin:0px;
        width:auto;
    }

.small_pics_wrapper
{
    width:25%;
    height:auto;
    float:left;
    display:block;
    margin:1%;
}
.small_pics_wrapper div
{
    width:90%;
    padding:5%;
}
    .small_pics_wrapper div img
    {
        width:95%;
       
    }

.private_pic
{
    border: solid medium red;
}
.public_pic
{
    border: solid medium green;
}


.details_UserName
{
    display:block;
    margin-top:2%;
    margin-bottom:2%;
}

.underlined
{
    text-decoration:underline;
}

.pics_wrapper
{
    width:100%;
    padding:0% 10% 0% 10%;
}