﻿@model PhotoAlbum3.Models.PhotoImage

@{
    ViewBag.Title = "Create";
}


<h2>Add new Photo</h2>

@using ( Html.BeginForm( "Create", "ListImages", FormMethod.Post, new { enctype = "multipart/form-data" } ) )
{
    @Html.ValidationSummary( true )

    <fieldset>
        <legend>PhotoImage</legend>

        <div class="editor-label">
            @Html.LabelFor( model => model.Location.description, "Location" )
        </div>
        <div class="editor-field">
            @Html.DropDownList( "LocationId", string.Empty )
            @Html.ValidationMessageFor( model => model.Location.description )
        </div>

        <div>
            @Html.ActionLink( "Add Location", "Create", "Location" )
            </div>


        <div class="editor-field">
            <input type="file" name="fileUpload" />
        </div>


        <div class="editor-label">
            @Html.LabelFor( model => model.privacy )
        </div>
        <div class="editor-field">
            <label class="radioButtonCreate">@Html.RadioButtonFor( m => m.privacy, 1 ) Private</label>
            <label class="radioButtonCreate">@Html.RadioButtonFor( m => m.privacy, 2 ) Public</label>
            @Html.ValidationMessageFor( model => model.privacy )
        </div>
        
        <label>Tags:</label>
        
        
        @Html.DropDownList("items",(SelectList)ViewBag.AvailAbleTags, new {style="width: 350px;", multiple="multiple", @class="chzn-select", tabindex="8"})

        

        <!--<select style="width: 350px;" multiple="multiple" class="chzn-select" id="items" name="items" tabindex="8">
            @*foreach ( PhotoAlbum3.Models.ImageTags item in ViewBag.AvailAbleTags )
            {
                <option value="@item.ID">@item.TagName</option> 
            }*@
        </select>-->
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink( "Back to List", "Index" )
</div>

@section Scripts {
    @Scripts.Render( "~/bundles/jqueryval" )
    @Styles.Render( "~/Content/chosen.css" )
    @Scripts.Render( "~/Scripts/chosen/chosen.jquery.js" )
    @Scripts.Render( "~/Scripts/TagoviSkripta.js" )
}



