﻿@model PhotoAlbum3.Models.PhotoImage

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>PhotoImage</legend>

    <div class="details_UserName">
    <b>    @Html.DisplayNameFor( model => model.Owner.UserName ): </b>
    
        @Html.DisplayFor( model => model.Owner.UserName )
    </div>

    <div class="display-field">
        <img src="@Model.LargeURL" alt=""/>
    </div>
</fieldset>

<p>
    
    @Html.ActionLink( "Edit", "Edit", new { id = Model.ID } )
    @Html.ActionLink( "Back to List", "Index" )
</p>

@using ( Html.BeginForm( "PublishComment", "ListImages", FormMethod.Post ) )
{
    @Html.Hidden( "pic_id", Model.ID )
    <div>
        <p>@Html.TextArea( "comment" )</p>
        <p>
            <input type="submit" value="Comment!" /></p>
    </div>
}
@using PhotoAlbum3.Models
@Styles.Render( "~/Content/stil1.css" )

@foreach( Comment c in ViewBag.Comments )
{
    <div class="comment">
        <p class="underlined">@c.User.UserName says:</p>
        <p>@c.Text</p>
    </div>
}





