﻿@model PhotoAlbum3.Models.PhotoImage

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>PhotoImage</legend>

        @Html.HiddenFor(model => model.ID)

        

        <div class="editor-label">
            @Html.LabelFor(model => model.LocationId, "Location")
        </div>
        <div class="editor-field">
            @Html.DropDownList("LocationId", String.Empty)
            @Html.ValidationMessageFor(model => model.LocationId)
        </div>

        <div class="display-field">
        <img src="@Model.LargeURL" alt=""/>
    </div>

       
        <div class="editor-label">
            @Html.LabelFor( model => model.privacy )
        </div>
        <div class="editor-field">
            <label class="radioButtonCreate">@Html.RadioButtonFor( m => m.privacy, 1 ) Private</label>
            <label class="radioButtonCreate">@Html.RadioButtonFor( m => m.privacy, 2 ) Public</label>
            @Html.ValidationMessageFor( model => model.privacy )
        </div>

        <label>Tags:</label>       
        @*Html.DropDownList("items",(MultiSelectList)ViewBag.ListImageTags, new {style="width: 350px;", multiple="multiple", @class="chzn-select", tabindex="8"})
        *@
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
@Styles.Render( "~/Content/chosen.css" )
    @Scripts.Render( "~/Scripts/chosen/chosen.jquery.js" )
    @Scripts.Render( "~/Scripts/TagoviSkripta.js" )
}
