﻿@model IEnumerable<PhotoAlbum3.Models.PhotoImage>

@{
    ViewBag.Title = "Index";
}

<h2>Pictures</h2>

<p>
    @Html.ActionLink( "Add New Picture", "Create" )
</p>
<p>
    @using ( Html.BeginForm( "Search", "ListImages", FormMethod.Post ) )
    {
        @Html.Display( "Search:" )
        @Html.DropDownList( "items", ( SelectList ) ViewBag.AvailAbleTags, new { style = "width: 350px;", multiple = "multiple", @class = "chzn-select", tabindex = "8" } )
        
        <input type="submit" value="Search" />
    }
</p>

@foreach ( var item in Model )
{
    <div class="pics_wrapper">
    <div class="small_pics_wrapper">
        <div class="@(( item.privacy == 1 ) ? "private_pic" : "public_pic")">
            <a href="@(Url.Action( "Details", "ListImages", new { id = item.ID } ))">
                <img src="@(item.LargeURL)" alt=""/>
            </a>
        </div>
        @Html.ActionLink( "Edit", "Edit", new { id = item.ID } ) | 
            @Html.ActionLink( "Delete", "Delete", new { id = item.ID } ) |
        @Html.ActionLink( "Details", "Details", new { id = item.ID } )
    </div>
    </div>    
}


@section Scripts {
    @Scripts.Render( "~/bundles/jqueryval" )
    @Styles.Render( "~/Content/chosen.css" )
    @Scripts.Render( "~/Scripts/chosen/chosen.jquery.js" )
    @Scripts.Render( "~/Scripts/TagoviSkripta.js" )
}
